@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
    --accent-color: #ff0000;
    --dark-bg: #181818;
    --light-bg: #ff0000;
}

.monaco-editor.no-user-select .lines-content,
.monaco-editor.no-user-select .view-line,
.monaco-editor.no-user-select .view-lines,
.monaco-editor .margin,
.mac, .windows, .linux {
    background-color: transparent !important;
}

.mac, .windows, .linux {
    font-family: 'Inter', sans-serif !important;
    letter-spacing: 0.5px;
}

.monaco-split-view2.vertical > .monaco-scrollable-element > .split-view-container > .split-view-view {
    width: calc(100% - 12px) !important;
}

/* TABS */
.monaco-workbench .part.editor > .content .editor-group-container > .title .tabs-container {
    padding: 8px 0;
}

.monaco-workbench .part.editor > .content .editor-group-container > .title .tabs-container > .tab {
    border-radius: 6px;
    margin-right: 8px;
    padding: 0 12px;
    font-weight: 500;
}

/* EDITOR */
.editor-container {
    padding-top: 12px;
    background-color: var(--dark-bg) !important;
    border-radius: 12px;
    height: calc(100% - 75px) !important;
    margin-right: 12px;
}

.monaco-split-view2 > .monaco-scrollable-element > .split-view-container {
    border-radius: 12px;
}

.monaco-editor .overflow-guard {
    height: calc(100% - 65px) !important;
    width: calc(100% - 24px) !important;
}

/* BREADCRUMB */
.tabs-breadcrumbs {
    font-weight: 100;
    font-size: 12px;
}

/* SCROLLBAR */
.monaco-scrollable-element > .scrollbar > .slider {
    border-radius: 8px;
    width: 5px !important;
    right: 2px;
    left: unset !important;
    opacity: .25;
}

.monaco-editor .monaco-scrollable-element > .scrollbar > .slider {
    right: 28px;
}

/* TERMINAL */
.monaco-workbench .part {
    border-radius: 12px;
}

/* SIDEBAR */
.sidebar .monaco-list-row {
    border-radius: 4px 0 0 4px;
}

.sidebar .monaco-split-view2 .monaco-scrollable-element .split-view-container .split-view-view {
    width: calc(100% + 6px) !important;
}

/* EXPERIMENTAL */

