@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

@import url('../styles/editor.css');
@import url('../styles/settings.css');

@import url('../styles/scrollbar.css');
@import url('../styles/sidebar.css');
@import url('../styles/tabs.css');
@import url('../styles/icons.css');

.monaco-editor.no-user-select .lines-content,
.monaco-editor.no-user-select .view-line,
.monaco-editor.no-user-select .view-lines,
.monaco-editor .margin,
.mac, .windows, .linux {
    background-color: transparent !important;
}

.mac, .windows, .linux {
    font-family: 'Inter', sans-serif !important;
    letter-spacing: 0.5px;
}

div[aria-label="Your Code installation appears to be corrupt. Please reinstall., notification"] {
    display: none;
}

/* BREADCRUMB */
.tabs-breadcrumbs {
    font-weight: 100;
    font-size: 12px;
}

/* TERMINAL */
.monaco-workbench .part {
    border-radius: 12px;
}

/* EXPERIMENTAL */

/* .monaco-workbench .part.editor > .content .editor-group-container.active > .title .tabs-container > .tab:hover . {

} */
