@import url('../fonts/stylesheet.css');

@import url('../styles/editor.css');
@import url('../styles/settings.css');

@import url('../styles/scrollbar.css');
@import url('../styles/sidebar.css');
@import url('../styles/tabs.css');
@import url('../styles/icons.css');

* {
    font-smooth: always;
}

.monaco-editor.no-user-select .lines-content,
.monaco-editor.no-user-select .view-line,
.monaco-editor.no-user-select .view-lines,
.monaco-editor .margin,
.mac, .windows, .linux {
    background-color: transparent !important;
}

.mac, .windows, .linux {
    font-family: 'Inter', sans-serif !important;
}

div[aria-label="Your Code installation appears to be corrupt. Please reinstall., notification"] {
    display: none;
}

/* BREADCRUMB */
.tabs-breadcrumbs {
    font-weight: 100;
    font-size: 12px;
}

/* TERMINAL */
.monaco-workbench .part {
    border-radius: 12px;
}

/* EXPERIMENTAL */

@font-face {
    font-family: 'greenlight-icons';
    src: url('../greenlight-icons.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

/* greenlight-icons */

.codicon[class*=codicon-] {
    font: normal normal normal 14px/1 greenlight-icons !important;
    text-align: center;
}

.monaco-sash.horizontal {
    margin-top: -6px;
    width: 80%;
    margin-left: 10%;
}

.monaco-sash.vertical {
    margin-top: 10%;
    height: 80%;
    margin-left: -6px;
} 
