.editor-container {
    padding-top: 12px;
    background-color: #181818 !important;
    border-radius: 12px;
    height: calc(100% - 75px) !important;
    width: calc(100% - 12px);
    margin-right: 6px;
    margin-bottom: 6px;
}

.monaco-split-view2 > .monaco-scrollable-element > .split-view-container {
    border-radius: 12px;
}

.monaco-editor .overflow-guard {
    height: calc(100% - 60px) !important;
    width: calc(100% - 24px) !important;
}

.monaco-split-view2.vertical > .monaco-scrollable-element > .split-view-container > .split-view-view {
    width: calc(100% - 12px) !important;
}

.monaco-editor .margin-view-overlays .cgmr {
    justify-content: center;
}
