/* sidebar */
.selected .file-icon::before {
    background-image: url('./../icons/file/file_selected.svg') !important;
}

.selected .folder-icon::before {
    background-image: url('./../icons/folder/folder_selected.svg') !important;
}

/* tabs */
div[aria-selected=true] .monaco-icon-label[title="Settings"]::before {
    background-image: url('./../icons/settings/settings_selected.svg') !important;
}

.monaco-icon-label[title="Settings"]::before {
    background-image: url('./../icons/settings/settings.svg') !important;
}

.codicon-debug-breakpoint::before {
    font-size: 12px !important;
}
