/* sidebar */
.selected .file-icon::before {
    background-image: url('./../icons/file_selected.svg') !important;
}

.selected .folder-icon::before {
    background-image: url('./../icons/folder_selected.svg') !important;
}

/* tabs */
.monaco-icon-label[title="Settings"]::before {
    background-image: url('./../icons/settings.svg') !important;
}
